<ion-content>
  <app-header name="{{ categoryName }}" backLink="/categories"></app-header>

  <ion-grid class="level-buttons-container">
  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col size="6" class="level-button-container {{ buttonClass }}" *ngFor="let level of levels; let levelIndex = index;">
      <ion-button class="level-button level-button-{{ categoryId }}" mode="ios" (click)="onClickLevel(levelIndex)" disabled="{{ level.disabled }}">
        <div class="level-button-inner">
          <ion-grid class="ion-no-padding ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <ion-text class="ion-text-center">{{ levelIndex + 1 }}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="level-stars level-stars-{{ categoryId }}">
                  <div>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAM1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjBUbJAAAAEHRSTlMA7w+/b8+vL39fTz/fH5+PYmIfbgAAAUNJREFUaN7t2AtqwzAQRdHR35Jl6e1/tS0mhBbh1NZ4SiBzNvDgipghpJRSSim1K4XEJWMSCbMBCJZkOXxzJKpj10lQxkMmMcngQe7xbcVTtSQj4IdAIhp+aSQg40ns8RMGiW5mDQbG3rwRgFGwMo8u+PgeBzzdZPMVh6rfiC9H/CFmYknN4ATTEk2yY6ZX2SxdVyIuiuVipm4wwfR0PlPAtHAymwOLozM2AwazMX7fA+43wDFjcYPxY/GDebrAMWIJBzMb42w4wj4tIi6LjMvhGP+uKLio0ITIiCUQjHOEFUYskWCRcZvOxhL5ujh685GGkxaat+iIyMhK8/J/jKyfN0LvPrIJjIzeacTdOhL6SlR6EBuprVh6sLnV20YqsDMxDydo8tE8R/j/0PpEB9ZlL7fwRvZHeMmWXhdSSiml1Af6AoHvg47cpSdAAAAAAElFTkSuQmCC" class="unearned-star" [ngClass]="{'earned-star': level.starsObtained >= 1}"/>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAM1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjBUbJAAAAEHRSTlMA7w+/b8+vL39fTz/fH5+PYmIfbgAAAUNJREFUaN7t2AtqwzAQRdHR35Jl6e1/tS0mhBbh1NZ4SiBzNvDgipghpJRSSim1K4XEJWMSCbMBCJZkOXxzJKpj10lQxkMmMcngQe7xbcVTtSQj4IdAIhp+aSQg40ns8RMGiW5mDQbG3rwRgFGwMo8u+PgeBzzdZPMVh6rfiC9H/CFmYknN4ATTEk2yY6ZX2SxdVyIuiuVipm4wwfR0PlPAtHAymwOLozM2AwazMX7fA+43wDFjcYPxY/GDebrAMWIJBzMb42w4wj4tIi6LjMvhGP+uKLio0ITIiCUQjHOEFUYskWCRcZvOxhL5ujh685GGkxaat+iIyMhK8/J/jKyfN0LvPrIJjIzeacTdOhL6SlR6EBuprVh6sLnV20YqsDMxDydo8tE8R/j/0PpEB9ZlL7fwRvZHeMmWXhdSSiml1Af6AoHvg47cpSdAAAAAAElFTkSuQmCC" class="unearned-star" [ngClass]="{'earned-star': level.starsObtained >= 2}"/>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAM1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjBUbJAAAAEHRSTlMA7w+/b8+vL39fTz/fH5+PYmIfbgAAAUNJREFUaN7t2AtqwzAQRdHR35Jl6e1/tS0mhBbh1NZ4SiBzNvDgipghpJRSSim1K4XEJWMSCbMBCJZkOXxzJKpj10lQxkMmMcngQe7xbcVTtSQj4IdAIhp+aSQg40ns8RMGiW5mDQbG3rwRgFGwMo8u+PgeBzzdZPMVh6rfiC9H/CFmYknN4ATTEk2yY6ZX2SxdVyIuiuVipm4wwfR0PlPAtHAymwOLozM2AwazMX7fA+43wDFjcYPxY/GDebrAMWIJBzMb42w4wj4tIi6LjMvhGP+uKLio0ITIiCUQjHOEFUYskWCRcZvOxhL5ujh685GGkxaat+iIyMhK8/J/jKyfN0LvPrIJjIzeacTdOhL6SlR6EBuprVh6sLnV20YqsDMxDydo8tE8R/j/0PpEB9ZlL7fwRvZHeMmWXhdSSiml1Af6AoHvg47cpSdAAAAAAElFTkSuQmCC" class="unearned-star" [ngClass]="{'earned-star': level.starsObtained >= 3}"/>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="background-layers background-layers-{{ categoryId }}">
  <div class="background-layer-1"></div>
  <div class="js-tilt-glare">
    <div class="js-tilt-glare-inner"></div>
  </div>
  <div class="background-layer-2"></div>
</div>

<div class="background-layers-np background-layers-{{ categoryId }}">
  <div class="background-layer-3"></div>
  <div class="background-layer-4"></div>
  <div class="background-layer-5"></div>
</div>

</ion-content>

<div class="level-modal" [ngClass]="{ 'level-modal-visible': modalFade == 'fadeIn' }" *ngIf="modalVisible">
  <div class="level-modal-window" *ngIf="modalWindowRoll" [@slideInOut]>

    <ion-text>Level {{ levelNumberShow }}</ion-text>

    <div class="level-modal-stars">
      <div>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAM1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjBUbJAAAAEHRSTlMA7w+/b8+vL39fTz/fH5+PYmIfbgAAAUNJREFUaN7t2AtqwzAQRdHR35Jl6e1/tS0mhBbh1NZ4SiBzNvDgipghpJRSSim1K4XEJWMSCbMBCJZkOXxzJKpj10lQxkMmMcngQe7xbcVTtSQj4IdAIhp+aSQg40ns8RMGiW5mDQbG3rwRgFGwMo8u+PgeBzzdZPMVh6rfiC9H/CFmYknN4ATTEk2yY6ZX2SxdVyIuiuVipm4wwfR0PlPAtHAymwOLozM2AwazMX7fA+43wDFjcYPxY/GDebrAMWIJBzMb42w4wj4tIi6LjMvhGP+uKLio0ITIiCUQjHOEFUYskWCRcZvOxhL5ujh685GGkxaat+iIyMhK8/J/jKyfN0LvPrIJjIzeacTdOhL6SlR6EBuprVh6sLnV20YqsDMxDydo8tE8R/j/0PpEB9ZlL7fwRvZHeMmWXhdSSiml1Af6AoHvg47cpSdAAAAAAElFTkSuQmCC" class="earned-star-{{ categoryId }}" [ngClass]="{'unearned-star-modal': earnedStars < 1}"/>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAM1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjBUbJAAAAEHRSTlMA7w+/b8+vL39fTz/fH5+PYmIfbgAAAUNJREFUaN7t2AtqwzAQRdHR35Jl6e1/tS0mhBbh1NZ4SiBzNvDgipghpJRSSim1K4XEJWMSCbMBCJZkOXxzJKpj10lQxkMmMcngQe7xbcVTtSQj4IdAIhp+aSQg40ns8RMGiW5mDQbG3rwRgFGwMo8u+PgeBzzdZPMVh6rfiC9H/CFmYknN4ATTEk2yY6ZX2SxdVyIuiuVipm4wwfR0PlPAtHAymwOLozM2AwazMX7fA+43wDFjcYPxY/GDebrAMWIJBzMb42w4wj4tIi6LjMvhGP+uKLio0ITIiCUQjHOEFUYskWCRcZvOxhL5ujh685GGkxaat+iIyMhK8/J/jKyfN0LvPrIJjIzeacTdOhL6SlR6EBuprVh6sLnV20YqsDMxDydo8tE8R/j/0PpEB9ZlL7fwRvZHeMmWXhdSSiml1Af6AoHvg47cpSdAAAAAAElFTkSuQmCC" class="earned-star-{{ categoryId }}" [ngClass]="{'unearned-star-modal': earnedStars < 2}"/>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAM1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjBUbJAAAAEHRSTlMA7w+/b8+vL39fTz/fH5+PYmIfbgAAAUNJREFUaN7t2AtqwzAQRdHR35Jl6e1/tS0mhBbh1NZ4SiBzNvDgipghpJRSSim1K4XEJWMSCbMBCJZkOXxzJKpj10lQxkMmMcngQe7xbcVTtSQj4IdAIhp+aSQg40ns8RMGiW5mDQbG3rwRgFGwMo8u+PgeBzzdZPMVh6rfiC9H/CFmYknN4ATTEk2yY6ZX2SxdVyIuiuVipm4wwfR0PlPAtHAymwOLozM2AwazMX7fA+43wDFjcYPxY/GDebrAMWIJBzMb42w4wj4tIi6LjMvhGP+uKLio0ITIiCUQjHOEFUYskWCRcZvOxhL5ujh685GGkxaat+iIyMhK8/J/jKyfN0LvPrIJjIzeacTdOhL6SlR6EBuprVh6sLnV20YqsDMxDydo8tE8R/j/0PpEB9ZlL7fwRvZHeMmWXhdSSiml1Af6AoHvg47cpSdAAAAAAElFTkSuQmCC" class="earned-star-{{ categoryId }}" [ngClass]="{'unearned-star-modal': earnedStars < 3}"/>
      </div>
    </div>

    <ion-text class="level-modal-description" *ngIf="modalShow == 'desc'">{{ levelRemark }}</ion-text>
    <ion-text class="level-modal-description" *ngIf="modalShow == 'score'"><b>Best score:</b> {{ levelScore }}</ion-text>
    <ion-text class="level-modal-remark">{{ levelDescription }}</ion-text>

    <ion-button class="modal-button modal-button-{{ categoryId }}" mode="ios" (click)="onClickPlayButton()">PLAY</ion-button>
    <ion-button class="modal-button modal-button-{{ categoryId }}" mode="ios" (click)="onClickOutsideModal()">CANCEL</ion-button>
  </div>
  <div class="close-modal" (click)="onClickOutsideModal()"></div>
</div>

<div class="disable-input" [hidden]="inputEnabled"></div>
