$button-elevation: .15em;

.background-layers {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    .background-layer-1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;    
    }

    .background-layer-2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -3;
        
    }
    
    .background-layer-3 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -4;
    }
    
    .background-layer-4 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -5;
    }
    
    .background-layer-5 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -6;
    }
}

.background-layers-science {
    .background-layer-1 {
        background-image: url("/assets/backgrounds/science/layer_1.png");
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .background-layer-2 {
        background-image: url("/assets/backgrounds/science/layer_2.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .background-layer-3 {
        background-image: url("/assets/backgrounds/stars_black.gif");
        background-repeat: no-repeat;
    }

    .background-layer-4 {
        background-image: url("/assets/backgrounds/lightPurple.png");
        background-repeat: repeat;
    }
}

.bounceIn {
	-webkit-animation-name: bounceIn !important;
	animation-name: bounceIn !important;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards !important; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards !important;    /* FF 5+ */
    -o-animation-fill-mode: forwards !important;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards !important;     /* IE 10+ */
    animation-fill-mode: forwards !important;         /* When the spec is finished */

    &:nth-child(1) {
        animation-delay: 0.0s;
    }

    &:nth-child(2) {
        animation-delay: 0.05s;
    }

    &:nth-child(3) {
        animation-delay: 0.1s;
    }

    &:nth-child(4) {
        animation-delay: 0.15s;
    }

    &:nth-child(5) {
        animation-delay: 0.2s;
    }

    &:nth-child(6) {
        animation-delay: 0.25s;
    }

    &:nth-child(7) {
        animation-delay: 0.3s;
    }

    &:nth-child(8) {
        animation-delay: 0.35s;
    }

    &:nth-child(9) {
        animation-delay: 0.45s;
    }

    &:nth-child(10) {
        animation-delay: 0.5s;
    }

    &:nth-child(11) {
        animation-delay: 0.55s;
    }
}

.level-buttons-container {
    padding: 0 12vw;
}

.level-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    margin-top: 4vh;

    transform: scale3d(0, 0, 0);
}

.level-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/ui/button-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
	margin: 5px;
	display: inline-block;
	border-radius: 7px;
    padding: 10px 10px 10px 10px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 30vw;
    width: 30vw;

    &:active {
        top: $button-elevation;
        box-shadow: none;
        position: relative;
    }

    ion-text {
        font-family: "Kenney-Mini";
        font-size: 14vw;
    }

    .earned-star {
        filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%) !important;
    }
}

.level-button-mathematics {
    $color: #cb3030;

    background-color: var(--ion-color-mathematics-main);
    box-shadow: 0 $button-elevation var(--ion-color-mathematics-main-shade);
    border: 3px solid var(--ion-color-mathematics-main-tint);

    ion-text {
        color: darken(saturate($color, 0.38), 16.08);
    }

    .unearned-star {
        filter: invert(18%) sepia(22%) saturate(4978%) hue-rotate(337deg) brightness(91%) contrast(97%);
    }
}

.level-button-science {
    $color: #FF9233;

    background-color: var(--ion-color-science-main);
    box-shadow: 0 $button-elevation var(--ion-color-science-main-shade);
    border: 3px solid var(--ion-color-science-main-tint);

    ion-text {
        color: darken(saturate($color, 0.38), 16.08);
    }

    .unearned-star {
        filter: invert(34%) sepia(75%) saturate(2904%) hue-rotate(22deg) brightness(98%) contrast(105%);
    }
}

.level-button-literature {
    $color: #849324;

    background-color: var(--ion-color-literature-main);
    box-shadow: 0 $button-elevation var(--ion-color-literature-main-shade);
    border: 3px solid var(--ion-color-literature-main-tint);

    ion-text {
        color: darken(saturate($color, 0.38), 16.08);
    }

    .unearned-star {
        filter: invert(20%) sepia(81%) saturate(372%) hue-rotate(29deg) brightness(97%) contrast(96%);
    }
}

.earned-star-mathematics {
        filter: invert(22%) sepia(79%) saturate(1970%) hue-rotate(339deg) brightness(103%) contrast(93%);
}

.earned-star-science {
        filter: invert(69%) sepia(87%) saturate(1942%) hue-rotate(334deg) brightness(100%) contrast(102%);
}

.earned-star-literature {
        filter: invert(55%) sepia(10%) saturate(3942%) hue-rotate(29deg) brightness(94%) contrast(72%);
}

.level-stars {
    display: block;
    height: 32px;
    width: 108px;

    div:nth-child(1) {
        margin-right: 2px;
    }

    img {
        width: 32px;
        height: 32px;
        margin: 0 -2px;
    }
}
                
.unearned-star-modal {
    filter: invert(62%) sepia(8%) saturate(243%) hue-rotate(191deg) brightness(94%) contrast(92%) !important;
}

.level-modal-visible {
    opacity: 1 !important;
    transition: opacity ease-in-out 250ms;
}

.level-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity ease-in-out 250ms;
    background-color: rgba(0, 0, 0, 0.5);

    .level-modal-window {
        position: fixed;
        left: 10%;
        bottom: 5vh;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        height: 30rem;
        width: 80%;
        background-color: var(--ion-color-white);
        border: 3px ridge var(--ion-color-white-shade);
        border-radius: 10px;

        ion-text {
            font-family: "KenVector-Future";
            font-size: 10vw;
            margin: 4vw 4vw;
        }

        .level-modal-description {
            font-family: "Kenney-Mini";
            text-align: center;
            font-weight: 400;
            padding: 0 4vw;
            font-size: 4.75vw;
        }

        .level-modal-remark {
            font-family: "KenVector-Future-Thin";
            text-align: center;
            font-weight: 500;
            padding: 0 2vw 0.75vh 2vw;
            font-size: 3.5vw;
        }

        .level-modal-stars {
            height: 64px;

            img {
                width: 64px;
                height: 64px;
                margin: 0 -4px;
            }

        }
    }
}

.close-modal {
    background: rgba(0, 0, 0, 0.0);
    height: 100%;
    width: 100%;
}

.button-container {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8vw;
}

.modal-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/ui/button-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
	margin: 8px;
	display: inline-block;
	border-radius: 7px;
    padding: 10px 10px 10px 10px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 12vw;
    width: 40vw;

    font-family: "Kenney-Mini";
    font-size: 5vw;

    &:active {
        box-shadow: none;
        position: relative;
        top: $button-elevation;
    }
}

.modal-button-mathematics {
    $color: #cb3030;

    background-color: var(--ion-color-mathematics-main);
    box-shadow: 0 $button-elevation var(--ion-color-mathematics-main-shade);
    border: 3px solid var(--ion-color-mathematics-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
}

.modal-button-science {
    $color: #FF9233;

    background-color: var(--ion-color-science-main);
    box-shadow: 0 $button-elevation var(--ion-color-science-main-shade);
    border: 3px solid var(--ion-color-science-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
}

.modal-button-literature {
    $color: #849324;

    background-color: var(--ion-color-literature-main);
    box-shadow: 0 $button-elevation var(--ion-color-literature-main-shade);
    border: 3px solid var(--ion-color-literature-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
}

.disable-input {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

@keyframes bounceIn {
	0%,
	100%,
	20%,
	40%,
	60%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		-ms-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		-ms-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		-ms-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		-ms-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
	}
}
