<ion-header class="ion-no-border game-header" mode='md'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="header-back-button" shape="round" size="small" fill="clear" (click)="onClickBack()">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMAn1/v38+vbz8U51slAAAAbElEQVQ4y+XLQQ2AQBAEwVtcIGFcIAEpSEACCQnJuuU3PIZWcP2t9Jg2Pec/LN07LN0XLCSyxEIiSywkssRCIkssJLLEQiJLLCQV4laUSvGEUpacUMqSE0pZckIpS04oZcnpk5y2AdN9jNl6AdwQcwA2x2K8AAAAAElFTkSuQmCC"/>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>