ion-toolbar {  
  background: transparent !important;
}

.game-header {
  padding: 6vh 0;
  padding-bottom: 0;
  background: transparent !important;
}

.witzy-game-header {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.header-title {
  font-family: 'KenVector-Future';
  font-size: 1.5rem;
  -webkit-text-stroke: 0.7px rgba(0,0,0,0.6);
  padding-inline: 8px;
}

.header-back-button {
  height: 48px !important;
  width: 48px;

  &:focus { 
    outline: none !important;
  }

  img {
    height: 28px !important;
    width: 28px;
    filter: drop-shadow(0px 0px 0 rgba(0,0,0,0.7)) drop-shadow(0px 0px 0 rgba(0,0,0,0.7)) !important;
  }
}