.splash-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.splash-progress-bar {
    padding: 1vh 15vw !important;
    width: 100%;

    ion-progress-bar {
        height: 20px;
        border-radius: 24px;
    }
}
