<ion-content>
  <app-header name="Categories" backLink="/home"></app-header>

  <ion-grid class="witzy-category-container">
    <ion-row>

      <ion-col size="6" *ngFor="let category of categories" class="witzy-category-card-container">
        <img *ngIf="category.isAvailable == true" src="{{ category.categoryIcon }}" class="witzy-category-icon" />
        <ion-card mode="ios" class="witzy-category-card witzy-category-card-{{ category.categoryId }}">
          <ion-card-content class="witzy-category-title">
            <ion-card-title *ngIf="category.isAvailable == true">{{ category.categoryName }}</ion-card-title>
            <ion-card-title *ngIf="category.isAvailable == false">Coming Soon!</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
