<ion-content>
  <app-header name="Categories" backLink="/home"></app-header>

  <div class="category-button-container {{ buttonClass }}" *ngFor="let category of categories; let categoryIndex = index;"
  (click)="onClickCategory(categoryIndex)">
    <img *ngIf="category.isAvailable == true" src="{{ category.categoryIcon }}" class="category-icon" />
    <ion-button *ngIf="category.isAvailable == true" class="category-button category-button-{{ category.categoryId }}" mode="ios">
      <div class="category-button-inner">
        <ion-card-title class="category-name">{{ category.categoryName }}</ion-card-title>
      </div>
    </ion-button>
    <ion-button *ngIf="category.isAvailable == false" class="category-button category-button-coming-soon" mode="ios">
        <ion-card-title class="category-name">Coming Soon!</ion-card-title>
    </ion-button>
  </div>
  <div class="twinkling-container"> 
    <div class="twinkling"></div>
  </div>
</ion-content>
