ion-content {
    background: black;
    padding: 1vh 8vw;
}

.splash-intro-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tns-logo-container {
    opacity: 0;
    position: absolute;

    img {
        width: auto;
        height: 98px;
        margin: auto;
    }
}

.uphg-logo-container {
    opacity: 0;
    position: absolute;
    
    img {
        width: auto;
        margin: auto;
        height: 186px;
    }
}

.text-container {
    position: absolute;
    opacity: 0;
    display: inline-block;
    padding: 1vh 10vw;
    display: block;
    color: #9f9f9f;
}

.disable-input {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

ion-text {
    display: inline-block;
    padding: 1vh 4vw;
    width: 100%;
    text-align: center !important;
    font-family: 'Kenney-Mini';
    font-size: 2.25vh;
}

.fade {
    -webkit-animation: fadeinout 4s ease forwards;
    animation: fadeinout 3s ease forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}