<ion-content>
  <div class="splash-intro-container">
    <div class="tns-logo-container {{ tnsLogo }}">
      <img src="/assets/logos/tns.svg"/>
    </div>
    <div class="uphg-logo-container {{ uphLogo }}">
      <img src="/assets/logos/uphg.png"/>
    </div>
    <div class="text-container {{ textLogo }}">
      <ion-text>A capstone project for UPHS-GMA Senior High School Department.</ion-text>
    </div>
  </div>
</ion-content>
<div class="disable-input" (click)="goToSplash()" *ngIf="textLogo == 'fadein'"></div>
<div class="disable-input" (click)="showTextLogo()" *ngIf="uphLogo == 'fadein'"></div>
<div class="disable-input" (click)="showUphLogo()" *ngIf="tnsLogo == 'fadein'"></div>