<ion-content>
  <ion-header class="ion-no-border game-header" mode='md'>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="header-back-button header-back-button-{{ currentCategory }}" shape="round" size="small" fill="clear" (click)="showGameModal()">
          <img src="/assets/ui/icons/barsHorizontal.png"/>
        </ion-button>
      </ion-buttons>
      <ion-title class="header-title header-title-{{ currentCategory }}">Level {{ currentLevelTrue }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="game-container">
    
    <ion-row class="game-detail-bg">
      <ion-col>
        <ion-header class="ion-no-border" mode='md'>
          <ion-grid class="ion-align-items-center game-detail-container">
            <ion-row class="ion-align-items-center">
              <ion-col size="4" class="ion-align-items-center game-detail-question">
                <ion-grid>
                  <ion-row class="ion-align-items-left ion-text-center">
                    <ion-col size="4" class="ion-align-items-center game-detail-icon">
                      <img src="/assets/ui/icons/question.png" class="unearned-star"/>
                    </ion-col>
                    <ion-col size="8" class="ion-align-items-center game-detail-text">
                      <div class="game-detail-text">
                        <ion-text>{{ questionIndex + 1 }}</ion-text><ion-text>/{{ questionData.length }}</ion-text>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="4" class="ion-text-center game-detail-score">
                <ion-badge class="game-detail-score-{{ currentCategory }}" [ngClass]="{ 'witzy-leveldetail-score-animation': animateScore == true }" mode="ios">{{ currentScore }}</ion-badge>
              </ion-col>
              <ion-col size="4" class="ion-text-center game-detail-stars">
                <img src="/assets/ui/icons/star.png" class="earned-star-{{ currentCategory }}" [ngClass]="{'unearned-star': roundStars < 1}"/>
                <img src="/assets/ui/icons/star.png" class="earned-star-{{ currentCategory }}" [ngClass]="{'unearned-star': roundStars < 2}"/>
                <img src="/assets/ui/icons/star.png" class="earned-star-{{ currentCategory }}" [ngClass]="{'unearned-star': roundStars < 3}"/>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-header>
      </ion-col>
    </ion-row>
    
    <ion-row class="game-slides-container">
      <ion-col>
        <ion-slides class="game-cards-container">
          <ion-slide *ngFor="let question of questionData">
            <div class="game-card card-color-{{ currentCategory }}"
            [ngClass]="{ 'card-color-correct': questionResponseClass == 'correct',
                         'card-color-incorrect': questionResponseClass == 'incorrect'
                        }">
              <ion-card-header class="game-card-timer timer-color-{{ currentCategory }}"
              [ngClass]="{ 'timer-color-correct': questionResponseClass == 'correct',
                           'timer-color-incorrect': questionResponseClass == 'incorrect'
                          }">
                <ion-card-title>
                  <ion-text>{{ timeLeft }}</ion-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="game-card-question">
                <ion-card-title >
                  <ion-text class="ion-text-center">{{ question.questionText }}</ion-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="game-card-answers">
                <div class="ion-padding-vertical">
                  <ion-button class="game-answer-button button-color-{{ currentCategory }}"
                  [ngClass]="{ 'button-color-disabled': !answerButtons && !answer.selected,
                               'button-color-correct': question.response == 'incorrect' && answer.correct,
                               'button-color-selected': !answerButtons
                             }" mode="ios"
                  *ngFor="let answer of question.answers"
                  (click)="answerButtons && checkUserAnswer(answer)" [disabled]="!roundStarted || !answerButtons && questionResponseClass == 'correct' && !answer.selected || !answerButtons && questionResponseClass == 'incorrect' && !answer.correct && !answer.selected">{{ answer.answer }}</ion-button>
                </div>
              </ion-card-content>
            </div>
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>
    
    <ion-row class="game-window-container ion-align-self-end">
      <ion-col>
        <div class="game-hint-container">
          <div class="game-window">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="3" class="ion-align-items-center">
                  <img src="/assets/ui/icons/alien_talk.png" *ngIf="questionResponseClass == 'incorrect'" />
                  <img src="/assets/ui/icons/boy.png" *ngIf="questionResponseClass == 'normal'" />
                  <img src="/assets/ui/icons/boy_talk.png" *ngIf="questionResponseClass == 'correct'" />
                </ion-col>
                <ion-col size="9" class="game-window-text">
                  <ngx-typed-js [strings]="[ hintText ]" [showCursor]="false" *ngIf="typedJs">
                    <h1 class="typing"></h1>
                  </ngx-typed-js>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <div class="background-layer-1"></div>
  <div class="background-layer-2"></div>
</ion-content>

<div class="level-modal" [ngClass]="{ 'level-modal-visible': modalFade == 'fadeIn' }" *ngIf="modalVisible">
  <div class="game-modal-window" *ngIf="modalWindowRoll" [@slideInOut]>

    <ion-text>Level {{ currentLevelTrue }}</ion-text>

    <ion-button class="modal-button modal-button-{{ currentCategory }}" mode="ios" (click)="onClickOutsideModal()">CONTINUE</ion-button>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-text-center">
          <ion-button class="setting-button" mode="ios" (click)="toggleMusic()">
            <img *ngIf="musicEnabled" src="/assets/ui/icons/musicOn.png"/>
            <img *ngIf="!musicEnabled" class="icon-inactive" src="/assets/ui/icons/musicOff.png"/>
          </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
          <ion-button class="setting-button" mode="ios" (click)="toggleAudio()">
            <img *ngIf="audioEnabled" src="/assets/ui/icons/audioOn.png"/>
            <img *ngIf="!audioEnabled" class="icon-inactive" src="/assets/ui/icons/audioOff.png"/>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-button class="modal-button modal-button-{{ currentCategory }}" mode="ios" (click)="alertExitLevel()">EXIT</ion-button>
  </div>
  <div class="close-modal" (click)="onClickOutsideModal()" *ngIf="!isCountdown"></div>
  <div class="countdown-div" *ngIf="isCountdown">
    <ion-text class="countdown-text {{ countdownClass }}" *ngIf="(isCountdown && !isDone)">{{ countdown }}</ion-text>
    <ion-text class="countdown-text {{ countdownClass }}" *ngIf="(isCountdown && isDone)">Go!</ion-text>
  </div>
  <div class="countdown-background" *ngIf="isCountdown">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>
</div>
<div class="disable-input" [hidden]="inputEnabled"></div>