@import '../../components/header/header.component';
@import '../levels/levels.page';

ion-content {
  background-image: url("/assets/backgrounds/blue.png");
  background-repeat: repeat;
}

ion-toolbar {
  background: transparent !important;
}

ion-header {
  background: transparent !important;
}

$button-elevation: .2em;

.game-detail-question {

  .game-detail-icon {
    max-width: 32px !important;
    margin-bottom: 6px;

    img {
      filter: invert(62%) sepia(8%) saturate(243%) hue-rotate(191deg) brightness(94%) contrast(92%) !important;  
    }
  }

  .game-detail-text { 
    margin-top: 1px;

    ion-text {
      margin: auto;
      font-family: 'KenVector-Future-Thin';
      font-size: 16px;

      &:nth-child(1) {
        font-family: 'KenVector-Future';
        font-weight: 700;
      }
    }
  }
}

.game-detail-score ion-badge {
    border-radius: 24px;
    font-family: 'KenVector-Future-Thin';
    line-height: 2.25vh;
    font-size: 2vh;
    width: 60%;
    height: 3vh;
}

.game-detail-stars {
  height: 48px;

  img {
    height: 32px;
    width: 32px;
    margin-left: -6px;
  }

  .unearned-star {
    filter: invert(62%) sepia(8%) saturate(243%) hue-rotate(191deg) brightness(94%) contrast(92%) !important;
  }
}

.earned-star-mathematics {
  filter: invert(22%) sepia(79%) saturate(1970%) hue-rotate(339deg) brightness(103%) contrast(93%);
}

.earned-star-science {
  filter: invert(69%) sepia(87%) saturate(1942%) hue-rotate(334deg) brightness(100%) contrast(102%);
}

.earned-star-literature {
  filter: invert(55%) sepia(10%) saturate(3942%) hue-rotate(29deg) brightness(94%) contrast(72%);
}



.game-cards-container {
    height: 60vh;
}

.game-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background: url("/assets/ui/button-texture.png");
    background-size: contain;
    background-repeat: repeat-x;

    height: 90%;
    width: 80%;
    border-radius: 10px;
}

.game-card-timer {
    position: absolute;
    top: 3vh;

    ion-text {
        font-family: 'Kenney-Mini';
        font-size: 8vw;
        font-weight: 700;
    }
}

.game-card-question {
    position: absolute;
    width: 80%;
    top: 9vh;

    ion-card-title {
        font-family: 'KenVector-Future';
        color: var(--ion-color-white);
        font-size: 4vw;
        font-weight: 400;
    }
}

.game-card-answers {
    position: absolute;
    bottom: 4vh;
}

.game-answer-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/ui/button-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
  	margin: 10px;
  	display: inline-block;
  	border-radius: 7px;
    padding: 10px 10px 10px 10px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 12vw;
    width: 60vw;

    font-family: "Kenney-Mini";
    font-size: 4.25vw;
    font-weight: 500;

    transition: background-color 300ms ease;

    &:active {
        top: $button-elevation;
        box-shadow: none;
        position: relative;
    }
}

.card-color-correct {
    background-color: var(--ion-color-success-tint) !important;
    border: 3px solid var(--ion-color-success) !important;
    transition: background-color 400ms ease;
}

.timer-color-correct ion-text {
    $color: #42d77d;
    color: darken(saturate($color, 0.38), 16.08) !important;
    transition: color 400ms ease;
}

.card-color-incorrect {
    background-color: var(--ion-color-danger-tint) !important;
    border: 3px solid var(--ion-color-danger) !important;
    transition: background-color 400ms ease;
}

.timer-color-incorrect ion-text {
    $color: #ed576b;
    color: darken(saturate($color, 0.38), 16.08) !important;
    transition: color 400ms ease;
}

.button-color-disabled {
    background-color: var(--ion-color-medium) !important;
    box-shadow: 0 $button-elevation var(--ion-color-medium-shade) !important;
    border: 3px solid var(--ion-color-medium-tint) !important;
}

.button-color-selected {
    box-shadow: none !important;
}

.button-color-correct {
    background-color: var(--ion-color-success) !important;
    box-shadow: 0 $button-elevation var(--ion-color-success-shade) !important;
    border: 3px solid var(--ion-color-success-tint) !important;

    &:active {
        box-shadow: 0 $button-elevation var(--ion-color-success-shade) !important;
    }
}

// ================================== //
// Science //
.card-color-science {
    background-color: var(--ion-color-science-accent);
    border: 3px solid var(--ion-color-science-accent-shade);
    transition: background-color 300ms ease;
}

.button-color-science {
    $color: #FF9233;

    background-color: var(--ion-color-science-main);
    box-shadow: 0 $button-elevation var(--ion-color-science-main-shade);
    border: 3px solid var(--ion-color-science-main-tint);
}

.timer-color-science ion-text {
    $color: #058AA6;
    color: darken(saturate($color, 0.38), 16.08);
}
// Science //
// ================================== //

// ================================== //
// Mathematics //
.card-color-mathematics {
  background-color: var(--ion-color-mathematics-accent);
  border: 3px solid var(--ion-color-mathematics-accent-shade);
  transition: background-color 300ms ease;
}

.button-color-mathematics {
  $color: #E73636;

  background-color: var(--ion-color-mathematics-main);
  box-shadow: 0 $button-elevation var(--ion-color-mathematics-main-shade);
  border: 3px solid var(--ion-color-mathematics-main-tint);
}

.timer-color-mathematics ion-text {
  $color: #764EAD;
  color: darken(saturate($color, 0.38), 16.08);
}
// Mathematics //
// ================================== //

// ================================== //
// Literature //
.card-color-literature {
    background-color: var(--ion-color-literature-accent);
    border: 3px solid var(--ion-color-literature-accent-shade);
    transition: background-color 300ms ease;
}

.button-color-literature {
    $color: #849324;

    background-color: var(--ion-color-literature-main);
    box-shadow: 0 $button-elevation var(--ion-color-literature-main-shade);
    border: 3px solid var(--ion-color-literature-main-tint);
}

.timer-color-literature ion-text {
    $color: #6505A6;
    color: darken(saturate($color, 0.38), 16.08);
}
// Literature //
// ================================== //

.game-window {
    position: fixed;
    left: 10%;
    bottom: 5vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 12%;
    width: 80%;
    background-color: #121212;
    border: 3px ridge #4e4e4e;
    border-radius: 10px;

    img {
      filter: invert(82%) sepia(19%) saturate(5858%) hue-rotate(39deg) brightness(111%) contrast(106%);
    }
}

.game-window-text {
  width: 77vw !important;
  padding-right: 4vw !important;

  ngx-typed-js {
    font-family: "Kenney-Mini";
    font-weight: 400;
    text-align: justify;

    h1 {
        font-size: 1.5vh;
        color: #87ff00;
    }
  }
}

.setting-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/ui/button-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
    margin: 8px;
    border-radius: 7px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 15vw;
    width: 15vw;
  
    font-family: "Kenney-Mini";
    font-size: 7vw;
  
  
    $color: #FF7F11;
  
    background-color: var(--ion-color-main);
    box-shadow: 0 $button-elevation var(--ion-color-main-shade);
    border: 3px solid var(--ion-color-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
  
    &:active {
        box-shadow: none;
        position: relative;
        top: $button-elevation;
    }

    img {
        position: fixed;
        height: 42px;
        width: 42px;
    }

    .icon-inactive {
        filter: invert(48%) sepia(95%) saturate(578%) hue-rotate(349deg) brightness(55%) contrast(102%);
    }
}

.countdown-div {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.countdown-text {
  vertical-align: middle;
  font-family: 'Kenney-Mini';
  font-size: 16vh;
  color: #ffffff;
  text-align: center;
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
  animation-duration: 0.4s
}

.witzy-leveldetail-score-animation {
  animation-name: pulse;
  animation-duration: 0.75s;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes bounce {
	0%,
	100%,
	20%,
	53%,
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%,
	43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		-webkit-transform: translate3d(0, -30px, 0);
		-ms-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		-webkit-transform: translate3d(0, -15px, 0);
		-ms-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		-ms-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0)
	}
}
