
$splash-background: var(--ion-color-accent);

ion-content, ion-footer, ion-toolbar, ion-header {
  --background: $splash-background;
	background: $splash-background;
  border: none;
  color: var(--ion-color-white);
  padding: 0 6vw;
}

.witzy-header {
  padding: 6vh 0;
  padding-bottom: 0;
}

.witzy-game-header {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.witzy-header-title {
  font-family: 'Witzy';
  font-weight: 700;
  font-size: 18pt;
  margin-top: 2px;
  padding-inline: 8px;
}

.witzy-header-back-button {
  height: 48px !important;
  width: 48px;
}

.witzy-header-back-button:focus { 
  outline: none !important;
}

.witzy-leveldetail-container { 
  padding: 0;
}
.witzy-leveldetail-question {
  padding-inline-start: 0;
  margin-top: 2px;
}
.witzy-leveldetail-question-icon {
  font-size: 24px;
}
.witzy-leveldetail-question-text {
  font-size: 18px;
  margin-top: 2px;
}
.witzy-leveldetail-question-text-bold {
  font-weight: 700;
}
.witzy-leveldetail-score { 
  height: 32px;
  line-height: 26px;
  font-size: 18px;
  width: 72px;
  border-radius: 100px;
}
.witzy-leveldetail-score-animation {
  animation-name: pulse;
  animation-duration: 0.75s;
}
.witzy-leveldetail-stars { 
  font-size: 24px;
  padding-inline-end: 0;
}

.witzy-question-card-container {
  height: 60%;
}
.witzy-question-card {
  --background: var(--ion-color-white);
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.witzy-question-answer-button {
  margin-bottom: 18px;
}
.witzy-question-card-correct {
  color: var(--ion-color-white) !important;
  background-color: var(--ion-color-success);
}
.witzy-question-card-incorrect {
  color: var(--ion-color-white) !important;
  background-color: var(--ion-color-danger);
}
.witzy-question-card-normal {
  background-color: var(--ion-color-white);
  transition: background-color 800ms ease;
}

.witzy-hint-card { 
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  border-radius: 18px;
  --background: rgba(var(--ion-color-dark-rgb), 0.5);
  color: white;
}
.witzy-hint-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.witzy-hint-question-icon {
  font-size: 64px;
  margin-top: 4px;
}

.witzy-hint-text-fadein {
  animation: fadeIn ease 400ms;
}
.witzy-hint-text-fadeout {
  animation: fadeOut ease 400ms;
}

// Category cards
.witzy-category-container {
  padding: 0 6vw;
  padding-right: 12vw;
}
.witzy-category-card-container {
  transition: transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1);
}

.witzy-category-card-container:nth-child(n) {
  margin-top: -2vw;
  z-index: 1;
}

.witzy-category-card-container:nth-child(n+3) {
  margin-top: -12vw;
  z-index: 0;
}

.witzy-category-card-container:active {
  transform: scale3d(.97, .97, 1);
}

.witzy-category-card {
	width: 37vw;
	height: 37vw;
  margin-top: 12vw;
  border-radius: 18px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.witzy-category-card-mathematics {
	background-color: var(--ion-color-mathematics-main);
}
.witzy-category-card-science {
	background-color: var(--ion-color-science-main);
}
.witzy-category-card-literature {
	background-color: var(--ion-color-literature-main);
}

.witzy-category-card-history {
	background-color: var(--ion-color-dark);
}
.witzy-category-card-technology {
	background-color: var(--ion-color-dark);
}
.witzy-category-card-pop-culture {
	background-color: var(--ion-color-dark);
}

.witzy-category-icon {
  position: absolute;
  float: left;
  left: -1vw;
  top: 0;
  z-index: 4;
	height: 38vw;
	width: auto;
}

.witzy-category-title {
  position: absolute;
	bottom: 0;
  left: -4px;
}

.witzy-category-title ion-card-title {
  font-size: 18pt;
  font-family: 'Witzy';
  color: var(--ion-color-white);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }


@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
  }

  @keyframes answerColorIn {
    0% {--background: var(--ion-color-white);}
    100% {--background: var(--ion-color-success);}
    }
  
  
  @keyframes answerColorOut {
    0% {--background: var(--ion-color-success);}
    100% { --background: var(--ion-color-white);}
    }

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}


      /*
       *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
       */

      /* entire container, keeps perspective */
      .flip-container {
          perspective: 1000px;
      }

          /* flip the pane when hovered */
          .flip-container.flipped .flipper {
              transform: rotateY(180deg);
          }

      /* flip speed goes here */
      .flipper {
          transition: 1s;
          transform-style: preserve-3d;

          position: relative;
      }

      /* hide back of pane during swap */
      .front, .back {
          backface-visibility: hidden;
      }

      /* front pane, placed above back */
      .front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg);
      }

      /* back, initially hidden pane */
      .back {
          transform: rotateY(180deg);
      }
