ion-content {
    background: #032B43;
}

.splash-progress-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-container {
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-logo {
    width: 60%;
    height: auto;
}

.splash-progress-bar {
    padding: 1vh 18vw !important;
    width: 100%;

    ion-progress-bar {
        height: 20px;
        border-radius: 24px;
    }
}