@font-face {
    font-family: 'KenVector-Future-Thin';
    src: url('/assets/fonts/KenVector-Future-Thin.eot');
    src: url('/assets/fonts/KenVector-Future-Thin.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/KenVector-Future-Thin.woff2') format('woff2'),
        url('/assets/fonts/KenVector-Future-Thin.woff') format('woff'),
        url('/assets/fonts/KenVector-Future-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kenney-Mini';
    src: url('/assets/fonts/Kenney-Mini.eot');
    src: url('/assets/fonts/Kenney-Mini.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kenney-Mini.woff2') format('woff2'),
        url('/assets/fonts/Kenney-Mini.woff') format('woff'),
        url('/assets/fonts/Kenney-Mini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KenVector-Future';
    src: url('/assets/fonts/KenVector-Future.eot');
    src: url('/assets/fonts/KenVector-Future.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/KenVector-Future.woff2') format('woff2'),
        url('/assets/fonts/KenVector-Future.woff') format('woff'),
        url('/assets/fonts/KenVector-Future.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


