         <form class="flex-center-x-column">
            <h1> Welcome !</h1>
            <div class="full-length margin-input">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input aria-describedby="emailHelp"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </div>

            <a routerLink="/sign-in" class="flex-center-x-column ion-margin">Forgot your password?</a>
          
            <ion-button type="submit" expand="full" routerLink="/tabs" routerDirection="forward" class="full-length margin-text form-rounded">Submit</ion-button>
            
            <div class="form-group flex-center-x-row margin-input">
             <p>No account?</p> <a routerLink="/sign-in" style="margin-left: 3%;">Sign up</a>
            </div>
        </form>  

  
  
        