$button-elevation: .15em;
@import "../game/game.page";

.results-window-container {
    height: 65vh;
}

.results-window {
    margin: auto;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 10vw;
    height: 58vh;
    width: 80%;
    background-color: var(--ion-color-white);
    border: 3px ridge var(--ion-color-white-shade);
    border-radius: 10px;

    ion-text {
        font-family: "Kenney-Mini";
        font-size: 4rem;
        margin: 4vw 4vw;
    }

    .level-modal-remark {
        font-family: "KenVector-Future-Thin";
        font-weight: 500;
        font-size: 4vw;
        margin: 4vh 2vw;
    }

    .level-modal-stars {
        height: 64px;

        img {
            width: 52px;
            height: 52px;
            margin: 0 -4px;
        }

    }
}

@media (aspect-ratio: 9/16), (aspect-ratio: 375/667) {
    .results-window {
      margin-top: 0;
      height: 63vh;
    }

    .level-modal-remark {
        margin: 2vh 2vw;
    }
}

.button-container {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8vw;
}
                
.unearned-star-modal {
    filter: invert(62%) sepia(8%) saturate(243%) hue-rotate(191deg) brightness(94%) contrast(92%) !important;
}

.earned-star-mathematics {
        filter: invert(22%) sepia(79%) saturate(1970%) hue-rotate(339deg) brightness(103%) contrast(93%);
}

.earned-star-science {
        filter: invert(69%) sepia(87%) saturate(1942%) hue-rotate(334deg) brightness(100%) contrast(102%);
}

.earned-star-literature {
        filter: invert(55%) sepia(10%) saturate(3942%) hue-rotate(29deg) brightness(94%) contrast(72%);
}


.modal-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/ui/button-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
    margin: 1vh 2vw;
	display: inline-block;
	border-radius: 7px;
    padding: 10px 10px 10px 10px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 12vw;
    width: 60vw;

    font-family: "Kenney-Mini";
    font-size: 5vw;

    &:active {
        box-shadow: none;
        position: relative;
        top: $button-elevation;
    }
}

.modal-button-mathematics {
    $color: #cb3030;

    background-color: var(--ion-color-mathematics-main);
    box-shadow: 0 $button-elevation var(--ion-color-mathematics-main-shade);
    border: 3px solid var(--ion-color-mathematics-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
}

.modal-button-science {
    $color: #FF9233;

    background-color: var(--ion-color-science-main);
    box-shadow: 0 $button-elevation var(--ion-color-science-main-shade);
    border: 3px solid var(--ion-color-science-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
}

.modal-button-literature {
    $color: #849324;

    background-color: var(--ion-color-literature-main);
    box-shadow: 0 $button-elevation var(--ion-color-literature-main-shade);
    border: 3px solid var(--ion-color-literature-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
}









.life-active {
    color: var(--ion-color-main);
}

.life-inactive {
    color: var(--ion-color-medium);
}

.results-score {
    font-size: 64pt;
    font-family: 'Witzy';
    font-weight: 700;
}

.results-star {
    display: block;
    height: 78px;

    div {
        display: flex;
        justify-content: center;
        margin: 0;
    
        ion-icon {
            font-size: 32pt !important;
            margin: 0 4px;
        }
    }
}


.results-card-container {
  padding: 0 6vw;
}

.results-card {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  border-radius: 22px;
  padding: 8vh 0;
}