
.splash-text {
    padding: 12vh 0;
    font-size: 24pt;
}

.play-button {
    text-transform: capitalize;
    font-weight: 700;
    height: 60px;
}

.setting-button {
    text-transform: capitalize;
    font-weight: 700;
    width: 180px;
}

.play-button-container {
    padding: 8vh 18vw;
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

