<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1 class="splash-text">Game Demo</h1>
  </ion-text>

    <div class="footer-container">
      <ion-grid class="play-button-container">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-toolbar>
              <ion-button class="play-button" color="primary" shape="round" fill="outline" size="large" routerLink="/game"><ion-icon name="play-outline" slot="icon-only"></ion-icon></ion-button>
            </ion-toolbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

</ion-content>