
$button-elevation: .25em;

ion-content {
    background-image: url("/assets/backgrounds/purple.png");
    background-repeat: repeat;
}

.logo-container {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-logo {
    width: 70%;
    height: auto;
}

.play-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/buttons/css-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
    margin: 8px;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 15vw;
    width: 90%;
  
    font-family: "Kenney-Mini";
    font-size: 7vw;
  
  
    $color: #FF7F11;
  
    background-color: var(--ion-color-main);
    box-shadow: 0 $button-elevation var(--ion-color-main-shade);
    border: 3px solid var(--ion-color-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
  
    &:active {
        box-shadow: none;
        position: relative;
        top: $button-elevation;
    }
}

.setting-button {
    --background: rgb(0, 0, 0, 0.0);
    --background-activated: rgb(0, 0, 0, 0.0);
    --ripple-color: transparent;
    background: url("/assets/buttons/css-texture.png");
    background-size: contain;
    background-repeat: repeat-x;
    margin: 8px;
    border-radius: 7px;
    transition: top 300ms ease-in-out;
    box-sizing: border-box;
    height: 15vw;
    width: 15vw;
  
    font-family: "Kenney-Mini";
    font-size: 7vw;
  
  
    $color: #FF7F11;
  
    background-color: var(--ion-color-main);
    box-shadow: 0 $button-elevation var(--ion-color-main-shade);
    border: 3px solid var(--ion-color-main-tint);
    color: darken(saturate($color, 0.38), 16.08);
  
    &:active {
        box-shadow: none;
        position: relative;
        top: $button-elevation;
    }

    img {
        position: fixed;
        height: 42px;
        width: 42px;
    }

    .icon-inactive {
        filter: invert(48%) sepia(95%) saturate(578%) hue-rotate(349deg) brightness(55%) contrast(102%);
    }
}


.splash-text {
    padding: 12vh 0;
    font-size: 24pt;
}

.play-button-container {
    width: 80%;
}

.footer-container {
    position: fixed;
    bottom: 15vh;
    left: 0;
    width: 100%;
}

