<ion-content class="ion-padding">
  <div class="logo-container">
    <img class="game-logo" src="/assets/logos/logo_main.svg"/>
  </div>

    <div class="footer-container">
      <ion-grid class="play-button-container">

        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
              <ion-button class="play-button" (click)="goCategories()">PLAY</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
              <ion-button class="setting-button" mode="ios" (click)="toggleMusic()">
                <img *ngIf="musicEnabled" src="/assets/ui/icons/musicOn.png"/>
                <img *ngIf="!musicEnabled" class="icon-inactive" src="/assets/ui/icons/musicOff.png"/>
              </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
              <ion-button class="setting-button" mode="ios" (click)="toggleAudio()">
                <img *ngIf="audioEnabled" src="/assets/ui/icons/audioOn.png"/>
                <img *ngIf="!audioEnabled" class="icon-inactive" src="/assets/ui/icons/audioOff.png"/>
              </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
              <ion-button class="setting-button" mode="ios" (click)="goAbout()">
                <img class="icon-inactive" src="/assets/ui/icons/information.png"/>
              </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
    <witzy-menu-background></witzy-menu-background>
</ion-content>